<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/styles.css' %}"
        />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/home"
                    ><em>Share Your Thoughts</em></a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"
                                >Home <span class="sr-only">(current)</span></a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_post">Add Post</a>
                        </li>
                    </ul>
                    <a id="logout" href="/logout">Logout</a>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row my-5">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-danger">{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="row">
                <div class="col col-lg-8 mx-auto">
                    <form
                        class="form-inline"
                        action="/create_post"
                        method="post"
                    >
                        {% csrf_token %}
                        <label class="sr-only" for="inlineFormInputThoughts2"
                            >Share your thoughts here</label
                        >
                        <input
                            type="text"
                            name="post_content"
                            class="form-control col-lg-10 mb-2 mr-sm-2"
                            id="inlineFormInputThoughts2"
                            placeholder="What would you like to share, {{logged_user.first_name}}?"
                        />

                        <button type="submit" class="btn btn-primary mb-2">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Favorites</h2>
                    {% for post_object in liked_posts %}
                    <div class="card mb-4">
                        <h3 class="card-header">
                            {{post_object.uploader.first_name}}
                        </h3>
                        <div class="card-body">
                            <p class="text-muted">
                                <small
                                    ><a href="/posts/{{post_object.id}}"
                                        >{{post_object.created_at}}</a
                                    ></small
                                >
                            </p>

                            <p class="card-text">{{post_object.content}}</p>

                            <div class="card-footer">
                                <a href="/unlike/{{post_object.id}}">Unlike</a>
                                {% if post_object.uploader == logged_user %}
                                <a href="/delete/{{post_object.id}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col">
                    <h2>Timeline</h2>
                    {% for post_object in other_posts %}
                    <div class="card mb-4">
                        <h3 class="card-header">
                            {{post_object.uploader.first_name}}
                        </h3>
                        <div class="card-body">
                            <p class="text-muted">
                                <small
                                    ><a href="/posts/{{post_object.id}}"
                                        >{{post_object.created_at}}</a
                                    ></small
                                >
                            </p>

                            <p class="card-text">{{post_object.content}}</p>

                            <div class="card-footer">
                                <a href="/like/{{post_object.id}}">Like</a>
                                {% if post_object.uploader == logged_user %}
                                <a href="/delete/{{post_object.id}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% comment %} END OF CONTAINER {% endcomment %}
        </div>

        <footer>
            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <a class="navbar-brand" href="#!">&copy; Jonathan Kohen 2020</a>
            </nav>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
