<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Share Your Thoughts</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/styles.css' %}"
        />
        {% load static %}
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'images/apple-touch-icon.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'images/favicon-32x32.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'images/favicon-16x16.png' %}"
            href="/f"
        />
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
        <link
            rel="mask-icon"
            href="{% static 'images/safari-pinned-tab.svg' %}"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#2b5797" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                {% load static %}
                <img
                    src="{% static 'images/navbar_logo.png' %}"
                    alt="Logo"
                    class="navbar_logo"
                />
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto"></ul>
                    <a id="logout" href="/logout">Logout</a>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row mt-5 mb-4">
                <div class="col col-lg-6 mx-auto">
                    {% load static %}
                    <img
                        src="{% static 'images/wacky.png' %}"
                        alt="Logo"
                        id="home_logo"
                    />
                </div>
            </div>

            <div class="row">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-danger">{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="row mb-5">
                <div class="col col-lg-8 mx-auto">
                    <form
                        class="form-inline"
                        action="/create_post"
                        method="post"
                    >
                        {% csrf_token %}
                        <label class="sr-only" for="inlineFormInputThoughts2"
                            >Share your thoughts here</label
                        >
                        <input
                            type="text"
                            name="post_content"
                            class="form-control col-lg-10 mb-2 mr-sm-2"
                            id="inlineFormInputThoughts2"
                            placeholder="What would you like to share, {{logged_user.first_name}}?"
                        />

                        <button type="submit" class="btn btn-primary mb-2">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="my-5">Favorites</h2>
                    {% for post_object in liked_posts %}
                    <div class="card mb-4">
                        <h3 class="card-header">
                            {{post_object.uploader.first_name}}
                        </h3>
                        <div class="card-body">
                            <p class="text-muted">
                                <small
                                    ><a href="/posts/{{post_object.id}}"
                                        >{{post_object.created_at}}</a
                                    ></small
                                >
                            </p>

                            <p class="card-text">{{post_object.content}}</p>

                            <div class="card-footer">
                                <a href="/unlike/{{post_object.id}}">Unlike</a>
                                {% if post_object.uploader == logged_user %}
                                <a href="/delete/{{post_object.id}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mb-5">
                <div class="col mb-5">
                    <h2 class="my-5">Timeline</h2>
                    {% for post_object in other_posts %}
                    <div class="card mb-4">
                        <h3 class="card-header">
                            {{post_object.uploader.first_name}}
                        </h3>
                        <div class="card-body">
                            <p class="text-muted">
                                <small
                                    ><a href="/posts/{{post_object.id}}"
                                        >{{post_object.created_at}}</a
                                    ></small
                                >
                            </p>

                            <p class="card-text">{{post_object.content}}</p>

                            <div class="card-footer">
                                <a href="/like/{{post_object.id}}">Like</a>
                                {% if post_object.uploader == logged_user %}
                                <a href="/delete/{{post_object.id}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% comment %} END OF CONTAINER {% endcomment %}
        </div>

        <footer>
            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <a class="navbar-brand" href="https://github.com/jonathankohen"
                    >&copy; <small>Jonathan Kohen 2020</small></a
                >
            </nav>
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
