<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <div class="row my-5">
                <div class="col">
                    <h1>Welcome, {{ logged_user.first_name }}</h1>
                    <a href="/logout">Log Out</a>
                    <a href="/add_post">Add Post</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Posts You Like:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Post Content</th>
                                <th>Posted By</th>
                                <th>Date Posted</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post_object in liked_posts %}
                            <tr>
                                <td>
                                    <a href="/posts/{{post_object.id}}"
                                        >{{post_object.content}}</a
                                    >
                                </td>
                                <td class="text-capitalize">
                                    {{post_object.uploader.first_name}}
                                </td>
                                <td>{{post_object.created_at}}</td>
                                <td>
                                    <a href="/unlike/{{post_object.id}}"
                                        >Unlike</a
                                    >
                                    {% if post_object.uploader == logged_user %}
                                    <a href="/delete/{{post_object.id}}"
                                        >Delete</a
                                    >
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h3>Other Posts:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Post Content</th>
                                <th>Posted By</th>
                                <th>Date Posted</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post_object in other_posts %}
                            <tr>
                                <td>
                                    <a href="/posts/{{post_object.id}}"
                                        >{{post_object.content}}</a
                                    >
                                </td>
                                <td class="text-capitalize">
                                    {{post_object.uploader.first_name}}
                                </td>
                                <td>{{post_object.created_at}}</td>
                                <td>
                                    <a href="/like/{{post_object.id}}">Like</a>
                                    <a href=""></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
