<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Share Your Thoughts</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/styles.css' %}"
        />
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/styles.css' %}"
        />
        {% load static %}
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'images/apple-touch-icon.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'images/favicon-32x32.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'images/favicon-16x16.png' %}"
            href="/f"
        />
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
        <link
            rel="mask-icon"
            href="{% static 'images/safari-pinned-tab.svg' %}"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#2b5797" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row mt-5">
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li class="text-danger">{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col col-lg-4 mx-auto">
                        <form action="/register" method="post">
                            <h2 class="mb-3">Register</h2>
                            <p class="text-muted text-center mb-4">
                                Create your free account today!
                            </p>
                            {% csrf_token %}
                            <div class="form-group">
                                <input
                                    type="text"
                                    name="first_name"
                                    class="form-control"
                                    placeholder="First Name"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    name="last_name"
                                    class="form-control"
                                    placeholder="Last Name"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    name="email"
                                    class="form-control"
                                    placeholder="Email"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    type="password"
                                    name="pw"
                                    class="form-control"
                                    placeholder="Password"
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    type="password"
                                    name="c_pw"
                                    class="form-control"
                                    placeholder="Confirm Password"
                                />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </form>
                        <p class="text-center">
                            <small
                                >already a member?
                                <a href="/login_page">Login</a></small
                            >
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
