@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --blue: #8db6d9;
    --mint: #aaf0d2;
    --purple: #8d90d9;
    --dark-purple: #7575d0;
    --text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4),
        0px 2px 3px rgba(0, 0, 0, 0.1), 0px 6px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, var(--blue), var(--mint));
}

.navbar-brand {
    font-size: medium;
}

nav form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

#logout {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.5rem 0rem;
}

#logout:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

h1 {
    text-shadow: var(--text-shadow);
    color: white;
}

h2 {
    overflow: hidden;
    text-align: center;
}

h2:before,
h2:after {
    background-color: var(--purple);
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 0.5em;
    margin-left: -50%;
}

h2:after {
    left: 0.5em;
    margin-right: -50%;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    background-color: var(--purple);
    border-color: var(--purple);
}

.btn-primary:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
    box-shadow: 0 0 0 0.2rem rgba(141, 144, 217, 0.5);
}

small a {
    color: #212529;
    text-decoration: underline;
}

small a:hover {
    color: var(--purple);
    text-decoration: underline;
}

@media (min-width: 768px) {
    form {
        margin-top: 150px;
    }
}
